@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Please Clock-In</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>



@*This is where the form is at.*@
<div class="text-center">

    <form>

        <label for="employeeID">Employee ID:</label>
        <input id="employeeid" type="text" />
    </form>

    <input type="button" value="Submit!" />

</div>
